@import 'react-toastify/dist/ReactToastify.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css */


html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0F0F14;
    
  }
  
  *::-webkit-scrollbar{
    width: 5px;
    background-color: #211C1E;
}
*::-webkit-scrollbar-track{
    background:transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(107, 135, 206, 0.613);
    border-radius: 20px;
    border: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}